{% load static %}
<section id="billboard" class="bg-light relative bg-image-fill position-relative eevee-bg">
<div class="position-absolute top-0 start-0 w-100 h-100 -z-1 bg-light opacity-90"></div>
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="section-title text-center mt-4" data-aos="fade-up">
          {% if title %}
          {{ title }}
          {% else %}
          New Collections
          {% endif %}
        </h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
          <p>{{paragraph}}</p>
        </div>
      </div>
      <div class="row">
        <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
          <div class="swiper-wrapper d-flex border-animation-left">
            {% if products %}
            {% for product in products %}
            <div class="swiper-slide">
              <div class="banner-item">
                <div class="image-holder">
                  <a href="{% url 'product' product.slug %}">
                    <img src="{{ product.image.url }}" alt="Representative image for {{ product.name }}" class="img-fluid">
                  </a>
                </div>
                <div class="banner-content py-4">
                     <a href="/category/{{ product.category.slug }}" class="text-decoration-none">
                        <button type="button" class="btn btn-primary">
                          {{ product.category }}
                        </button>
                      </a>
                  <h5 class="element-title text-uppercase mt-3">
                    <a href="index.html" class="item-anchor">{{ product.name }}</a>
                  </h5>
                  <p class="text-black">{{ product.description }}</p>
                  <div class="btn-left">
                    <a href="{% url 'product' product.slug %}" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">View Product</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          {% if products %}
          <div class="swiper-pagination"></div>
          {% endif %}
        </div>
        {% if products %}
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
          </svg></div>
          {% endif %}
      </div>
    </div>
  </section>