{% if list %}
<section class="categories overflow-hidden my-5">
  {% if title %}
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <h2>{{ title }}</h2>
        {% if paragraph %}
        <p>{{ paragraph }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="open-up" data-aos="zoom-out">
      <div class="row">
        {% for item in list %}
        <div class="col-md-4">
          <div class="cat-item image-zoom-effect">
            {% if item.image %}
            <div class="image-holder">
              <a href="/set/{{ item.slug }}">
                <div class="ratio ratio-4x3">
                  <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid object-fit-cover rounded">
                </div>
              </a>
            </div>
            {% else %}  
            {% endif %}
            <div class="category-content">
              <div class="product-button">
                <a href="index.html" class="btn btn-common text-uppercase">
                  {{ item.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}