{% extends 'base.html' %}
{% load static %}

{% block title %}Control Panel{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <main role="main" class="col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Products
                                    </div>
                                    <p>{{ total_products|default:0 }} products</p>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <a href="#" class="text-decoration-none text-primary">
                                            <button class="btn btn-primary btn-sm">
                                                Manage Products
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Categories
                                    </div>
                                    <p>{{ total_categories|default:0 }} categories</p>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <a href="#" class="text-decoration-none text-primary">
                                            <button class="btn btn-primary btn-sm">
                                                Manage Categories
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Sets
                                    </div>
                                    <p>{{ total_sets|default:0 }} sets</p>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <a href="#" class="text-decoration-none text-primary">
                                            <button class="btn btn-primary btn-sm">
                                                Manage Sets
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Orders
                                    </div>
                                    <p>{{ total_orders|default:0 }} orders</p>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        <a href="{% url 'control_panel_orders' %}" class="text-decoration-none text-primary">
                                            <button class="btn btn-primary btn-sm">
                                                Manage Orders
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Recent Orders</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in latest_orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.full_name }}</td>
                            <td>{{ order.date_ordered|date:"d-m-Y" }}</td>
                            <td>${{ order.amount_paid }}</td>
                            <td>
                                {% if order.shipped == True %}
                                    <span class="badge bg-success">Sent</span>
                                {% elif order.shipped == False %}
                                    <span class="badge bg-warning text-dark">Pending</span>
                                {% else %}
                                    <span class="badge bg-danger">Error</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}