{% extends 'base.html' %}
{% load static %}
{% block title %}Control Panel - Edit Set{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'control_panel_manage_sets' %}" class="btn btn-primary mb-3">Back to Sets</a>
        </div>
    </div>
    <div class="row">
        <main role="main" class="col-12">
            <h1 class="h2">Edit Set</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update Set</button>
            </form>
        </main>
    </div>
</div>
{% endblock %}