{% extends 'base.html' %}
{% load static %}

{% block title %}Your #1 Pokémon Card Shop | UK Based{% endblock %}
{% block description %}
Welcome to Eevee Emporium, your ultimate destination for Pokémon cards and collectibles. Explore our vast selection of rare and sought-after cards, perfect for both collectors and players. Enjoy fast shipping across the UK and exceptional customer service. Join our community of Pokémon enthusiasts today!{% endblock %}
{% block keywords %}Pokémon cards, collectibles, Eevee Emporium, rare cards, trading cards, Pokémon shop{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>Cart Summary</h1>
            <p>View your cart...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if cart_products %}
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>QTY</th>
                    <th>Total</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_products %}
                    <tr id="row-{{item.product.id}}">
                    <td>
                        <a href="{% url 'product' item.slug %}">
                            {{ item.name }}
                        </a>
                    </td>
                    <td>£{{ item.price }}</td>
                    <td>
                        <p>{{ item.quantity }}</p>                        
                    </td>
                    <td>£{{ item.total }}</td>
                    <td>
                        <button
                            class="btn btn-danger delete-item rounded"
                            data-id="{{ item.product.id }}"
                        >
                            Remove
                        </button>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-footer">
                    <tr>
                    <td colspan="4" class="text-right"><strong>Cart Total:</strong></td>
                    <td>£{{ total_price }}</td>
                    <td></td>
                    </tr>
                </tfoot>
            </table>
            {% else %}
            <div class="alert alert-info text-center" role="alert">
                Your cart is empty. Start shopping now!
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).on('click', '.delete-item', function(e){
        e.preventDefault();
        
        $.ajax({
            type: 'POST',
            url: '{% url "cart_remove" %}',
            data: {
                'product_id': $(this).data('id'),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                action: 'post',
            },

            success: function() {
                location.reload();
            },

            error: function(xhr, status, error) {
                console.error('Error removing item:', error);
                alert('An error occurred while removing the item. Please try again.');
            }
        })
    })
</script>
{% endblock %}
