{% extends 'base.html' %}
{% load static %}

{% block title %}Your #1 Pokémon Card Shop | UK Based{% endblock %}
{% block description %}
Welcome to Eevee Emporium, your ultimate destination for Pokémon cards and collectibles. Explore our vast selection of rare and sought-after cards, perfect for both collectors and players. Enjoy fast shipping across the UK and exceptional customer service. Join our community of Pokémon enthusiasts today!{% endblock %}
{% block keywords %}Pokémon cards, collectibles, Eevee Emporium, rare cards, trading cards, Pokémon shop{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>Cart Summary</h1>
            <p>View your cart...</p>
        </div>
    </div>
</div>
{% endblock %}