  {% load static %}
  <footer id="footer" class="mt-5">
    <div class="container border-top">
      <div class="row d-flex flex-wrap justify-content-between py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="index.html">
                Eevee Emporium
              </a>
            </div>
            <p>Welcome to Eevee Emporium, your ultimate destination for Pokémon cards and collectibles. Explore our vast selection of rare and sought-after cards, perfect for both collectors and players.</p>            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-4">
                <li>
                  <a href="https://www.facebook.com" target="_blank" class="text-secondary" aria-label="Visit our Facebook page">
                    <svg width="48" height="48" viewBox="0 0 24 24">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitter.com" target="_blank" class="text-secondary" aria-label="Visit our Twitter page">
                    <svg width="48" height="48" viewBox="0 0 24 24">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com" target="_blank" class="text-secondary" aria-label="Visit our YouTube channel">
                    <svg width="48" height="48" viewBox="0 0 24 24">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com" target="_blank" class="text-secondary" aria-label="Visit our Instagram page">
                    <svg width="48" height="48" viewBox="0 0 24 24">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h2 class="widget-title text-uppercase mb-4">Quick Links</h2>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="{% url 'home' %}" class="item-anchor">Home</a>
              </li>
              <li class="menu-item">
                <a href="{% url 'about' %}" class="item-anchor">About</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h2 class="widget-title text-uppercase mb-4">Help & Info</h2>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Returns + Exchanges</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Shipping + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h2 class="widget-title text-uppercase mb-4">Contact Us</h2>
            <p>Do you have any questions or suggestions? <a href="mailto:info@eeveeemporium.com"
                class="item-anchor">info@eeveeemporium.com</a></p>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex flex-wrap gap-2">
            <div class="shipping">
              <span>We ship with:</span>
              <img src="{% static 'images/shipping-icons/arct-icon.png' %}" alt="icon">
              <img src="{% static 'images/shipping-icons/dhl-logo.png' %}" alt="icon">
            </div>
            <div class="payment-option">
              <span>Payment Option:</span>
              <img src="{% static 'images/payment-icons/paypal-card.png' %}" alt="card">
            </div>
          </div>
          <div class="col-md-6 text-end">
            <p>© Copyright 2025 Eevee Emporium. All rights reserved.</p>
            <p>Design by <a href="https://templatesjungle.com"
                target="_blank">TemplatesJungle</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>