{% extends "base.html" %}
{% load static %}

{% block title %}Your #1 Pokémon Card Shop | UK Based{% endblock %}
{% block description %}Discover the best Pokémon cards and collectibles at Eevee Emporium. Shop now for rare finds and exclusive deals.{% endblock %}
{% block keywords %}Pokémon cards, collectibles, Eevee Emporium, rare cards, trading cards, Pokémon shop{% endblock %}

{% block content %}
{% include 'components/billboard.html' with paragraph="Discover our newest arrivals at Eevee Emporium! We've just expanded our collection with fresh, exclusive items that every trainer will love. These latest additions won't stay in stock for long. Check out what's new and evolve your collection today!" title="Latest Arrivals" %}
{% include 'components/features.html' %}
{% include 'components/featured.html' %}
{% include 'components/categories.html' with list=sets title="Popular Sets" paragraph="Explore our most popular Pokémon card sets, perfect for collectors and players alike. Each set is carefully curated to bring you the best of the Pokémon trading card game." %}
{% include 'components/testimonials.html' %}
{% endblock %}