{% extends "base.html" %}
{% load static %}

{% block title %}Log in to your account | UK Based{% endblock %}
{% block description %}Discover the best Pokémon cards and collectibles at Eevee Emporium. Shop now for rare finds and exclusive deals.{% endblock %}

{% block content %}
<section class="about-section position-relative overflow-hidden bg-image w-100 bg-image-fill py-10 bg-eevee-cartoon">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50 -z-1"></div>
  <div class="container-fluid px-0 mb-5 position-relative">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bold">Log in to your account</h1>
        <p class="lead">Manage your account</p>
      </div>
  </div>
</section>
<section class="container">
    FORM
</section>
{% endblock %}