<nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center z-3">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-center w-100">

        <div class="col-auto">
          <a class="navbar-brand text-black" href="/">
            EEVEE EMPORIUM
          </a>
        </div>

        <div class="col-auto">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Sidebar </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Three Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Three Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Four Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Four Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Six Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Six Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Product </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Product V2 </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item dropdown d-lg-none">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88a9.947 9.947 0 0 1 12.28 0C16.43 19.18 14.03 20 12 20z"></path>
                    </svg>
                  </a>
                  <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                    {% if user.is_authenticated %}
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Account</a>
                    </li>
                    <li>
                      <a href="{% url 'logout' %}" class="dropdown-item item-anchor">Log Out</a>
                    </li>
                    {% else %}
                    <li>
                      <a href="{% url 'login' %}" class="dropdown-item item-anchor">Log In</a>
                    </li>
                    {% endif %}
                  </ul>
                </li>
                <li class="d-lg-none">
                  <a href="index.html" class="text-uppercase" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                    Cart <span class="cart-count">(0)</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-3 col-lg-auto d-none d-lg-block">
          <ul class="navbar-nav list-unstyled m-0 justify-content-end align-items-center gap-3">
            <li class="d-none d-lg-block">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="24px" width="24px" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88a9.947 9.947 0 0 1 12.28 0C16.43 19.18 14.03 20 12 20z"></path>
                  </svg>
                </a>
                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                  {% if user.is_authenticated %}
                  <li>
                    <a href="index.html" class="dropdown-item item-anchor">Account</a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}" class="dropdown-item item-anchor">Log Out</a>
                  </li>
                  {% else %}
                  <li>
                    <a href="{% url 'login' %}" class="dropdown-item item-anchor">Log In</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
            </li>
            <li class="">
              <a href="index.html" class="text-uppercase" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                Cart <span class="cart-count">(0)</span>
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </nav>