{% extends "base.html" %}
{% load static %}

{% block title %}Update password{% endblock %}
{% block description %}
Update your profile information at Eevee Emporium. Personalize your experience with Pokémon cards and collectibles, and receive exclusive offers tailored just for you.{% endblock %}
{% block keywords %}
update, profile, information, Eevee Emporium, Pokémon cards, collectibles, personalized recommendations, exclusive offers{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1>Update Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}
                <div class="form-group d-flex flex-column">
                    {{ user_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}