{% extends "base.html" %}
{% load static %}
{% load cart_extras %}

{% block title %}
Payment Checkout
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-4">
            <h1>Checkout</h1>
            <p>Review your order</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-5">
                <div class="card-header">
                    <h2>Order Summary</h2>
                </div>
                <div class="card-body py-5">
                    {% for item in cart_products %}
                    <p class="card-text mb-0">Product: {{ item.name }}</p>
                    <p class="card-text mb-0">Price: ${{ item.price }}</p>
                    <p class="card-text mb-0">Quantity: {{ item.quantity }}</p>
                    <p class="card-text">Subtotal: ${{ item.price|multiply:item.quantity }}</p>
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer text-right d-flex justify-content-end">
                    <p class="card-text fw-bold">Total: ${{ total_price }}</p>
                </div>
            </div>
        </div>
        <form method="POST" action="{% url 'billing_info' %}">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-5">
                <div class="card-header">
                    <h2>Shipping Information</h2>
                </div>
                <div class="card-body py-5">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="d-flex justify-content-end mb-4 gap-4">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back to shopping</a>
                    <input type="submit" value="Continue to Payment" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}